{% load static %}



<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container">
  
      <a class="navbar-brand" href="https://youthfoundation.az/">
        <img src="{% static 'images/genclerfondulogo.jpg' %}" width="180" height="75"    class="d-inline-block align-top" alt="" loading="lazy" style="border-radius: 20px;">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active ">
          <a class="nav-link text-white" href="http://forstudents.org.az/">Ana səhifə <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link text-white" href="/about">Haqqımızda <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link text-white" href="/book">Kitablar <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link text-white" href="/project">Lahiyə <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link text-white" href="/contact">Əlaqə <span class="sr-only">(current)</span></a>
        </li>
  
        
        
    </div>
    <a class="navbar-brand" href="http://forstudents.org.az/">
      <img src="{% static 'images/IMG-20211209-WA0025.jpg' %}" width="180" height="65"  class="d-inline-block align-top" alt="" loading="lazy" style="border-radius: 20px;">
    </a>
  </ul>
  
  </div>
  </nav>