{% extends "base.html" %}


{% load static %}
   
   
   
   {% block css %}

    <link rel="stylesheet" href="{% static 'css/book.css' %}"   media="screen">

    {% endblock %}

    

    {% block title %}

    Kitablar

    {% endblock %}



      
 {% block content %}

 <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Kitablar</h5>
        <div class="row">
            <!-- Team member -->

            {% for book in book %}
            <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="{{ book.image.url }}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{book.name}}</h4>
                                    <p class="card-text">{{ book.front_description }}</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{book.name}}</h4>
                                    <p class="card-text">{{ book.back_description }}
                                    </p>
                                    <ul class="list-inline">
                                       

                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> {{ book.number }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- ./Team member -->
            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://www.e-derslik.edu.az/cache/c6174001decd9bb02b75951ae7813be9_316_430.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> 050-653-13-41
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->
            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://www.e-derslik.edu.az/cache/ccafe732b433e82247b697a4768faa13_316_430.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> 050-653-13-41
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->
            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="http://www.e-derslik.edu.az/cache/5d8776fa3b91d404d0d454c0e92b1f12_316_430.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> 050-653-13-41
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->
            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://www.e-derslik.edu.az/portal/assets/img/books-cover/1.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> 050-653-13-41
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->
            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://azedu.az/uploads/media/i8az.gif"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and button.This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> 050-653-13-41
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ./Team member -->

        </div>
    </div>
</section>


{% endblock %}





    {% block js %}
    <script src="{% static 'js/book.js' %}"></script>
    {% endblock %}
