{% extends "base.html" %}


{% load static %}
   
   
   
   {% block css %}

    <link rel="stylesheet" href="{% static 'css/book.css' %}"   media="screen">

    {% endblock %}

    

    {% block title %}

    Kitablar

    {% endblock %}



      
 {% block content %}

 <section id="team" class="pb-5">
     <div class="container">
         <h5 class="section-title h1">Kitablar</h5>
         <div class="row">
             <!-- Team member -->
             
             {% for i in book %}
            <div class="col-xs-12 col-sm-6 col-md-4 book">
                <div class="image-flip">
                    <div class="mainflip flip-0" style="width: 50px;">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="{{ i.image.url }}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{i.name}}</h4>
                                    <p class="card-text">{{ i.front_description }}</p>
                                    <a href="" class="btn btn-primary btn-sm"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{i.name}}</h4>
                                    <p class="card-text">{{ i.back_description }}
                                    </p>
                                    <ul class="list-inline">
                                       

                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                >
                                                <i class="fas fa-phone mr-2"></i> {{ i.number }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            
            
        </div>
    </div>
</section>
{% endfor %}







    {% block js %}
    <script src="{% static 'js/book.js' %}"></script>
    {% endblock %}
