{% extends "base.html" %}


{% load static %}
   
   
   
   {% block css %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}"   media="screen">

    {% endblock %}

    

    {% block title %}

    Ana sehife

    {% endblock %}



      
 {% block content %}

    
    <section class="light">
        <div class="container py-2">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Universitetlər</div>
    
            {% for i in university_left %}

            <article class="postcard light blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="{{ i.image.url }}" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="{{i.university_link}}">{{ i.name }}</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>{{ i.date }}
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{ i.description }}</div>
                    <ul class="postcard__tagbox">
                       <a href="{{ i.facebook_link }}"> <li class="tag__item bg-primary"><i class="fab fa-facebook text-white"></i></li> </a>
                        <a href="{{ i.twitter_link }}"> <li class="tag__item bg-info"><i class="fab fa-twitter text-white"></i></li> </a>

                        <li class="tag__item bg-danger">
                            <a href="{{ i.instagram_link }}"><i class="fab fa-instagram text-white"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            
            {% endfor %}




            <!-- <article class="postcard light green">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="{% static 'images/dsx.jpg' %}" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title green"><a href="#">Dövlət Sərhəd Xidməti Akademiyası (DSX) </a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>Mon, Jun 12th 2007
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Dövlət Sərhəd Xidmətinin Akademiyası Prezident İlham Əliyevin 2007-ci il 12 iyun tarixli Sərəncamı ilə yaradılmışdır. Akademiya Dövlət Sərhəd Xidməti üçün xüsusi ixtisaslı ali hərbi təhsilli zabit kadrların, komandir və qərargah zabitlərinin, hərbi elmi işçilərin hazırlanması, onların ixtisasının artırılması, dövlət sərhədinin mühafizəsi və hərbi iş sahəsində elmi tədqiqatların aparılmasını təmin etmək məqsədi ilə təsis edilmişdir. Akademiyanın yeni binası 10 avqust 2010 tarixində istifadəyə verilmişdir.[1]. Binayla əlaqədar maraqlı fakt burasındadır ki, binanın peyk görünüşünə diqqət yetirdikdə burada İlham Əliyevin ad və soyadının baş hərflərini tərs şəkildə rahatlıqla görmək olar.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><i class="fas fa-eye mr-2"></i></i>99</li>
                        <li class="tag__item play green">
                            <a href="#"><i class="fas fa-play mr-2"></i>Ətraflı</a>
                        </li>
                    </ul>
                </div>
            </article> -->

        </div>
    </section>


{% endblock %}





    {% block js %}
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
